@use 'variables' as *


* 
	box-sizing: border-box

html, body
	overflow-x: clip


body
	margin: 0
	font-family: $font-base
	color: $color-text
	line-height: 1.9


.uk-container
	max-width: $container-width

